@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme { 
  /* Light theme variables (default) */
  --color-primary: #ffffff;
  --color-secondary: #1c1d22;
  --color-progress-bar: #ffa048;
  --color-accent: #ffa048;
  --color-muted: #f5f5f5;
  --color-border: #e5e7eb;
  --color-success: #78d700; 
  --color-warning: #ff7979;
  --color-danger: #ef4444;
  --color-info: #3b82f6;
  --color-grey: #888da71a;
  --color-textPrimary: #1c1d22;
  --color-textSecondary: #6b7280;
}

[data-theme="dark"] {
  --color-primary: #1f2937;
  --color-secondary: #ffffff;
  --color-progress-bar: #ffa048;
  --color-accent: #ffa048;
  --color-muted: #374151;
  --color-border: #4b5563;
  --color-success: #78d700;
  --color-warning: #ff7979;
  --color-danger: #ef4444;
  --color-info: #3b82f6;
  --color-grey: #6b728080;
  --color-textPrimary: #ffffff;
  --color-textSecondary: #d1d5db;
}

@layer base {
  
  html {
    @apply transition-colors duration-300 ease-in-out;
  }
  
  body {
    background-color: var(--color-primary);
    color: var(--color-textPrimary);
    @apply transition-colors duration-300 ease-in-out;
  }
  
  .padding {
    @apply px-[28px] py-[32px];
  }
  
  /* Hide scrollbar but allow scroll */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
 
  .light {
    @apply bg-white text-gray-900;
  }
  
  .dark {
    @apply bg-[#222327] text-[#FFFFFF];
  }
}